<div class="container-fluid bgsite">
    <nav class="navbar navbar-dark cornavbar d-flex justify-content-around">
        <img src="https://imgur.com/hS5fkz6.png" alt="menuicone">
        <div class="d-flex align-items-end justify-content-end text-light">
            <img src="https://imgur.com/G2O6D30.png" alt="">
            <p>O site de teste para novos webs</p>
        </div>

        <div class="d-flex align-items-center">
            <button type="button" class="btn botaoRedes btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-facebook" viewBox="0 0 16 16" routerlink="https://www.facebook.com/folhadesp/">
                    <path
                        d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z">
                    </path>
                </svg>
                CURTIR
            </button>
            <button type="button" class="btn botaoRedes btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z">
                    </path>
                </svg>
                SEGUIR
            </button>
        </div>

    </nav>

    <div class="container">

        <div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://imgur.com/ZeP0hEo.png" alt="Primeiro Slide">

                    <div class="col-md-6 carousel-caption">
                        <h5 class="col-md-6 mussum">MUSSUM IPSUM CACILDS</h5>
                        <h2 class="text-start d-flex justify-content-start">Pra lá, depois divoltis porris, paradis.
                            Paisis, filhis, espiritis santis</h2>
                    </div>


                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://imgur.com/ZeP0hEo.png" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://imgur.com/ZeP0hEo.png" alt="Terceiro Slide">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
            </div>

            <h3 class="mt-5 text-dark topCacilds">top calildis</h3>
            <div class="row">

                <div class="col-md-4">
                    <img src="https://imgur.com/LVHgjcc.png" alt="">
                </div>
                <div class="col-md-4">
                    <img src="https://imgur.com/oWgcGEi.png" alt="">
                </div>
                <div class="col-md-4">
                    <img src="https://imgur.com/rASuBIs.png" alt="">
                </div>
            </div>

            <div class="d-flex">
                <h3 class="mt-5 text-dark topCacilds">divoltis porris</h3>

            </div>

            <div class="row">
                <div class="col-md-4 d-flex flex-column">

                    <img src="https://imgur.com/lPZxxi7.png" alt="">
                    <h6 class="mt-1 txtBlue">CONSENTIS</h6>
                    <p>Manduma pindureta quium dia nois paga. Sapien in monti palavris</p>
                    <hr>
                    <img src="https://imgur.com/xGacjz4.png" alt="">
                    <h6 class="mt-1 txtBlue">MATIS</h6>
                    <p>Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                    <hr>

                </div>

                <div class="col-md-4 d-flex flex-column">

                    <img src="https://imgur.com/ShTDkHo.png" class="" alt="">
                    <h6 class="mt-1 txtBlue">AENEAN</h6>
                    <p>Pellentesque laoreet mé lectus scelerisque interdum cursus</p>
                    <hr>
                    <img src="https://imgur.com/xGacjz4.png" alt="">
                    <h6 class="mt-1 txtBlue">DIVINIS</h6>
                    <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis</p>
                    <hr>
                </div>

                <div class="col-md-4 d-flex align-center justify-content-center">
                    <img src="https://imgur.com/4KB1HOO.png" alt="" height="90%" width="90%">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 d-flex flex-column">
                    <h3 class="txtblueLight mt-3 mb-3">paisis, filhis, espiritis santis</h3>

                    <h6>Mussum Ipsum, cacilds vidis</h6>
                    <h6>volutpat risus nec leo commodo.</h6>
                    <hr>
                    <h6>Sed non consequat odio.</h6>
                    <hr>
                    <h6>Suco de cevadiss deixa as pessoas mais interessantis.</h6>
                    <hr>
                    <h6>Copo furadis é disculpa de bebadis.</h6>
                    <hr>
                    <h6>Delegadis gente finis, bibendum egesta.</h6>
                    <hr>

                </div>

                <div class="col-md-4 d-flex flex-column">
                    <h3 class="txtred mt-3 mb-3">se pirulitá</h3>
                    <div class="d-flex">
                        <img src="https://imgur.com/isywY3D.png" class="mb-3" alt="" height="180px" width="180px">
                        <div class="d-flex flex-column marginIlustracoes">
                            <h6 class="ilustracoes">NAM LIBER</h6>
                            <p>Casamentiss faiz malandris se pirulitá</p>
                        </div>

                    </div>
                    <div class="d-flex">
                        <img src="https://imgur.com/dzaAex8.png" class="mb-3" alt="" height="180px" width="180px">
                        <div class="d-flex flex-column marginIlustracoes">
                            <h6 class="ilustracoes">GOSTIS</h6>
                            <p>Aenean ut ante turpis.
                                Pellentesque leoreet
                                mé
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex flex-column">
                    <h3 class="txtred mt-3 mb-3">suco de cevadiss</h3>
                    <div class="d-flex">
                        <img src="https://imgur.com/E2jLZYf.png" class="mb-3" alt="" height="180px" width="180px">
                        <div class="d-flex flex-column marginIlustracoes">
                            <h6 class="ilustracoes">INTERAGI</h6>
                            <p>é um leite divinis,
                                qui tem lupuliz
                                matis, aguis e fermentis
                            </p>
                        </div>

                    </div>
                    <div class="d-flex">
                        <img src="https://imgur.com/rGNU9Cs.png" class="mb-3" alt="" height="180px" width="180px">
                        <div class="d-flex flex-column marginIlustracoes">
                            <h6 class="ilustracoes">GOSTIS</h6>
                            <p>Aenean ut ante turpis.
                                Pellentesque leoreet
                                mé
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
       
        

    </div>

    <footer class="text-white mt-5" style="background-color: #3498DB;">
        <!-- Grid container -->
        <div class="container p-2 d-flex align-items-end justify-content-end">
            <h5>VOLTAR AO TOPO</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor"
                class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
            </svg>
        </div>

        <div class="p-4" style="background-color: #2C3E50;">
            <div class="d-flex justify-content-around align-items-center">
                <div class="col-md-3 d-flex justify-content-end">
                    <img src="https://imgur.com/DDgvmOU.png" alt="">
                </div>
                <div class="col-md-8">
                    <p class="text-light Copyright justify-content-start">Copyright Folha de S. Paulo. Todos os
                        direitos
                        reservados. é
                        proibida a
                        reprodução do conteúdo desta
                        página em qualquer meio de comunicação, eletrônico ou impresso, sem autorização escrita da
                        Folhapress
                        (pesquisa@folhapress.com.br).
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>